<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}|%-5p|[%t]| %10c.%10M %3x | %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.openshift" level="debug"/>
    <Root level="warn">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>