<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}|%-5p|[%t]| %10c.%10M %3x | %m%n" />
		</layout>
	</appender>

	<logger name="com.openshift">
		<level value="debug" />
	</logger>

	<root>
		<level value="warn" />
		<appender-ref ref="STDOUT" />
	</root>
</log4j:configuration>
